# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE specific files
.vscode/
.idea/

# Virtual environments
venv/
.venv/

# Data
**/*.env
**/*.html

# PyTest
**/*cache*
**/*.pyc
